/* 红色按钮 */
.btn_background{
	background-color: #FC4646;
}

/* 白色字体 */
.btn_fontColor{
	color: #FFFFFF;
}

/* 个人中心重置按钮 */
.btn_GRZX_CZ{
	color: #FC4646; /* 红色字体 */
	background-color: #FFFFFF; /* 白底 */
}

/* 个人中心顶部背景色 */
.backImg::after{
	background-color: #FFAF2A; 
}

/* 个人中心顶部背景色 */
.bc_GRZX{
	background-color: #FFAF2A; 
}

/* 个人中心顶部用户类型背景色 */
.bc_GRZX_UserType{
	background-color: #c38520; 
}